.window{
  width: 1005;
  height: 600px;
  background-image: url(https://github.com/ervindavid12/IMg/blob/main/1565010078_514445_1650447100_noticia_normal.jpg?raw=true);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 800px;

  
}
.barra{
  bottom:0;
  left: 0;
  right: 0;
  background-color: #24292fc9;
  width:100%;
  height: 50px;
  box-sizing: border-box;
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.barra div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icono0{
  display: block;
  width: 2.8rem;
  margin-left: 1rem;
  filter: saturate(180%);
  transition: 0.3s;
  align-items: center;
  top: 0;
  width: 40px;
  width: 40px;
}
.icono1{
  display: block;
  width: 2.8rem;
  margin-left: 1rem;
  filter: saturate(180%);
  transition: 0.3s;
  align-items: center;
  top: 0;
  width: 40px;
  height: 40px;
}
.ventana{
  background-color: #24292fc9;
  width: 500px;
  height: 400px;
  display: none;
}
.ventana div img{
  width:20px;
  height: 20px;
}
.verventana{
  display: block;
}
.cerrar{
  display: none;
}
.cerrar img{
  width:20px;
  height: 20px;
}
.cerrarventana{
  display: none;
}
.letra{
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Montserrat', sans-serif;
}